<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header"><i class="fa fa-cloud" style="color:#FF8C00"></i> Quest</h2>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-file-text"></i> Initial Eligibility</li>
        <li class="active"><i class="fa fa-file-text"></i> <a href="Javascript:void(0)" routerLink="/dashboard/chart">Fleet Entry</a></li>
        <li class="active"><i class="fa fa-file-text"></i> <a href="Javascript:void(0)" routerLink="/dashboard/tables">Primary Liability</a></li>
        <li class="active"><i class="fa fa-file-text"></i> <a href="Javascript:void(0)" routerLink="/dashboard/forms">Pricing Indication</a></li>
      </ol>
    </div>
  </div>
  <!-- /.row -->


  <form [formGroup]="rForm">
    <br>
    <h4>Initial Eligibility</h4>
    <br>
    <div class="col-lg-6">

      <fieldset class="form-group">

        <br>
        <div [ngClass]="{'form-group has-danger' : !rForm.controls['dot1'].valid && rForm.controls['dot1'].touched}">
          <label class="form-control-label" for="inputError">* 1st DOT #:</label>
          <input type="text" class="form-control form-control-danger" formControlName="dot1" [(ngModel)]="dot1" (change)="onDot1Change($event)"
            autofocus>
        </div>
        <!--<div class="alert" *ngIf="!rForm.controls['dot1'].valid && rForm.controls['dot1'].touched">Requred: Please Enter The DOT #</div>-->
        <!--<input type="text" value="{{dot1}}">-->

        <br>
        <label>Effective Date: </label>
        <input type="date" class="form-control" formControlName="effDate" [(ngModel)]="effDate">
        <!--<p>{{effDate}}</p>-->

        <br>
        <label>Expiration Date:</label>
        <input type="date" class="form-control" formControlName="expDate" [(ngModel)]="expDate">
        <!--<div class="alert" *ngIf="(!rForm.controls['effDate'].valid || !rForm.controls['expDate'].valid) && (rForm.controls['effDate'].touched
            || rForm.controls['expDate'].touched)">Requred: Effective and Expiration Dates</div>-->
        <!--<p>{{expDate}}</p>-->

        <br>
        <label>Safety Rating:</label><br>
        <input type="radio" [(ngModel)]="safetyRating" formControlName="safetyRating" name="safetyRating" value="Satisfactory">Satisfactory<br>
        <input type="radio" [(ngModel)]="safetyRating" formControlName="safetyRating" name="safetyRating" value="Conditional">Conditional<br>
        <input type="radio" [(ngModel)]="safetyRating" formControlName="safetyRating" name="safetyRating" value="Unsatisfactory">Unsatisfactory<br>
        <input type="radio" [(ngModel)]="safetyRating" formControlName="safetyRating" name="safetyRating" value="NotRated">Not
        Rated
        <br>
        <!--<p>{{safetyRating}}</p>-->

        <br>
        <label>Years in Business:</label>
        <input type="text" class="form-control" formControlName="yearInBus" [(ngModel)]="yearInBus">
        <!--<p>{{yearInBus}}</p>-->

        <br>
        <div [hidden]="yearInBus > 3 || yearInBus === null">
          <label>All Drivers Have 5 Years Similar Comercial Driving Experience:</label><br>
          <input type="radio" [(ngModel)]="isDrivingExperience" formControlName="isDrivingExperience" name="isDrivingExperience" value="yes">Yes<br>
          <input type="radio" [(ngModel)]="isDrivingExperience" formControlName="isDrivingExperience" name="isDrivingExperience" value="no">No<br>
        </div>
        <!--<p>{{isDrivingExperience}}</p>-->

        <br>
        <label>Primary AL Limit:</label>
        <input type="text" class="form-control" formControlName="primaryALLimit" [(ngModel)]="primaryALLimit">
        <!--<div class="alert" *ngIf="!rForm.controls['primaryALLimit'].valid && rForm.controls['primaryALLimit'].touched">Requred: Primary AL Limit Between $1,000,000-$2,000,000</div>-->
        <!--<p>{{primaryALLimit}}</p>-->

        <br>
        <label>Primary CGL Limit:</label>
        <input type="text" class="form-control" formControlName="primaryCGLimit" [(ngModel)]="primaryCGLimit">
        <!--<div class="alert" *ngIf="!rForm.controls['primaryCGLimit'].valid && rForm.controls['primaryCGLimit'].touched">Requred: Primary CGL Limit Between $1,000,000-$2,000,000</div>-->
        <!--<p>{{primaryCGLimit}}</p>-->

        <br>
        <label>CGL Class 99793 (Truckers) Only: </label>
        <input type="text" class="form-control" formControlName="truckersOnly" [(ngModel)]="truckersOnly">
        <!--<div class="alert" *ngIf="!rForm.controls['truckersOnly'].valid && rForm.controls['truckersOnly'].touched">Requred: CGL Class 99793 (Truckers) Only</div>-->
        <!--<p>{{truckersOnly}}</p>-->

        <br>
        <label>Primary EL Limit:</label>
        <input type="text" class="form-control" formControlName="primaryELLimit" [(ngModel)]="primaryELLimit">
        <!--<div class="alert" *ngIf="!rForm.controls['primaryELLimit'].valid && rForm.controls['primaryELLimit'].touched">Requred: Primary EL Limit Between $1,000,000-$2,000,000</div>-->
        <!--<p>{{primaryELLimit}}</p>-->

        <br>
        <label>Any Of The Following Services Provided Or Commodities Hauled:</label><br>
        <input type="radio" [(ngModel)]="isProvidedComodities" formControlName="isProvidedCommodities" name="isProvidedCommodities"
          value=yes>Yes<br>
        <input type="radio" [(ngModel)]="isProvidedComodities" formControlName="isProvidedCommodities" name="isProvidedCommodities"
          value=no>No<br>
        <!--<div class="alert">Ineligible due to ___</div>-->
        <!--<p>{{isProvidedCommodities}}</p>-->

        <br>
        <label>Unscheduled Vehicles Operated Under The Applicant's Authority:</label><br>
        <input type="radio" [(ngModel)]="isUnschedVehicleAuth" ng-init="checked = true" formControlName="isUnschedVehicleAuth" name="isUnschedVehicleAuth"
          value="yes">Yes<br>
        <input type="radio" [(ngModel)]="isUnschedVehicleAuth" ng-init="checked = false" formControlName="isUnschedVehicleAuth" name="isUnschedVehicleAuth"
          value="no">No<br>
        <!--<p>{{isUnschedVehicleAuth}}</p>-->



      </fieldset>
      <input type="button" onclick="return saveForm();" value="Save as draft" />
      <button type="submit" class="btn btn-secondary" routerLink="/dashboard/chart">Test</button>
      <button type="submit" class="btn btn-secondary" [disabled]="!rForm.valid">Next</button>
      <button type="reset" class="btn btn-secondary">Save</button>

    </div>

    <div class="col-lg-6">

      <fieldset class="form-group">

        <br>
        <label>Name Of Applicant:</label>
        <input type="text" class="form-control" formControlName="applicantName" [(ngModel)]="applicantName">
        <!--<div class="alert" *ngIf="!rForm.controls['applicantName'].valid && rForm.controls['applicantName'].touched">Requred: Please Enter Applicant's Name</div>-->

        <br>
        <label>State:</label>
        <input type="text" class="form-control" formControlName="stateCode" [(ngModel)]="stateCode">
        <!--<div class="alert" *ngIf="!rForm.controls['stateCode'].valid && rForm.controls['stateCode'].touched">Requred: Please Enter Applicant's State</div>-->

        <br>
        <label>ZIP:</label>
        <input type="text" class="form-control" formControlName="zip" [(ngModel)]="zip">
        <!--<div class="alert" *ngIf="!rForm.controls['zip'].valid && rForm.controls['zip'].touched">Requred: Please Enter Applicant's Zip Code</div>-->

        <br>
        <label>Vehicle Type:</label>
        <input type="text" class="form-control" formControlName="vehicleType" [(ngModel)]="vehicleType">
        <!--<div class="alert" *ngIf="!rForm.controls['vehicleType'].valid && rForm.controls['vehicleType'].touched">Required: Vehicle Type</div>-->

        <br>
        <label>DOT Revoked:</label>
        <input type="text" class="form-control" formControlName="hasDOTRevoked" [(ngModel)]="hasDOTRevoked">
        <!--<div class="alert" *ngIf="!rForm.controls['hasDOTRevoked'].valid && rForm.controls['hasDOTRevoked'].touched">Requred: Has the DOT been Revoked?</div>-->

        <br>
        <label>Garbage Hauled:</label>
        <input type="text" class="form-control" formControlName="garbageHaul" [(ngModel)]="garbageHaul">
        <!--<div class="alert" *ngIf="!rForm.controls['garbageHaul'].valid && rForm.controls['garbageHaul'].touched">Requred: Is Garbage Being Hauled</div>-->

      </fieldset>

    </div>
  </form>

</div>