<!--PRICING ENGINE-->
<form [formGroup]="rForm">
  <div class="row">
    <div class="col-sm-3">
      <div class="card mb-3">
        <div class="card-header card-default">
          U.S. DOT#
        </div>
        <div class="card-block" class=" input-group">
          <input type="text" class="form-control form-control-danger" formControlName="dot1" [(ngModel)]="dot1" placeholder="Enter U.S. DOT#">
          <span class="input-group-btn"><button class="btn btn-secondary" type="button" (click)="onDot1Change($event)" (click)="onQuest_T01_FatalityCoef($event)" (click)="onQuest_T10_1x1Min($event)"><i class="fa fa-search"></i></button></span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3">
        <div class="card-block">
          <label class="form-control-label">Name Of Applicant:</label>
          <input type="text" class="form-control" formControlName="applicantName" [(ngModel)]="applicantName">
        </div>
        <div class="card-block">
          <label class="form-control-label">State:</label>
          <input type="text" class="form-control" formControlName="stateCode" [(ngModel)]="stateCode">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3">
        <div class="card-block">
          <label class="form-control-label">ZIP:</label>
          <input type="text" class="form-control" formControlName="zip" [(ngModel)]="zip">
        </div>
        <div class="card-block">
          <label class="form-control-label">Vehicle Type:</label>
          <input type="text" class="form-control" formControlName="vehicleType" [(ngModel)]="vehicleType">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3">
        <div class="card-block">
          <label class="form-control-label">DOT Revoked:</label>
          <input type="text" class="form-control" formControlName="hasDOTRevoked" [(ngModel)]="hasDOTRevoked">
        </div>
        <div class="card-block">
          <label class="form-control-label">Garbage Hauled:</label>
          <input type="text" class="form-control" formControlName="garbageHaul" [(ngModel)]="garbageHaul">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-danger card-inverse">
        <div class="card-header card-danger">
          Exposure Summary / Rating Parameters
        </div>
        <div class="card-block bg-white">
          <fieldset class="form-group">
            <label class="form-control-label">noOfPU:</label>
            <input type="text" class="form-control" formControlName="noOfPU" [(ngModel)]="noOfPU">
            <br>
            <label class="form-control-label">totalAdj:</label>
            <input type="text" class="form-control" formControlName="totalAdj" [(ngModel)]="totalAdj">
            <br>
            <label class="form-control-label">Intercept:</label>
            <input type="text" class="form-control" formControlName="intercept1" [(ngModel)]="intercept1">
            <br>
            <label class="form-control-label">logUnit:</label>
            <input type="text" class="form-control" formControlName="logUnit" [(ngModel)]="logUnit">
            <br>
            <label class="form-control-label">logUnitCoef:</label>
            <input type="text" class="form-control" formControlName="logUnitCoef" [(ngModel)]="logUnitCoef">
            <br>
            <label class="form-control-label">logMile:</label>
            <input type="text" class="form-control" formControlName="logMile" [(ngModel)]="logMile">
            <br>
            <label class="form-control-label">logMileCoef:</label>
            <input type="text" class="form-control" formControlName="logMileCoef" [(ngModel)]="logMileCoef">
            <br>
            <label class="form-control-label">logISORate:</label>
            <input type="text" class="form-control" formControlName="logISORate" [(ngModel)]="logISORate">
            <br>
            <label class="form-control-label">logISORateCoef:</label>
            <input type="text" class="form-control" formControlName="logISORateCoef" [(ngModel)]="logISORateCoef">
            <br>
            <label class="form-control-label">priorViolCoef:</label>
            <input type="text" class="form-control" formControlName="priorViolCoef" [(ngModel)]="priorViolCoef">
            <br>
            <label class="form-control-label">priorInspCoef:</label>
            <input type="text" class="form-control" formControlName="priorInspCoef" [(ngModel)]="priorInspCoef">
            <br>
            <label class="form-control-label">priorCrashCoef:</label>
            <input type="text" class="form-control" formControlName="priorCrashCoef" [(ngModel)]="priorCrashCoef">
          </fieldset>
        </div>
      </div>
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-3">
      <div class="card card-success card-inverse mb-3">
        <div class="card-header card-success">
          Primary $1M Premium Rating Formula
        </div>
        <div class="card-block bg-white">
          <fieldset class="form-group">
            <label class="form-control-label">baseLC:</label>
            <input type="text" class="form-control" formControlName="baseLC" [(ngModel)]="baseLC">
            <br>
            <label class="form-control-label">sizeAdj:</label>
            <input type="text" class="form-control" formControlName="sizeAdj" [(ngModel)]="sizeAdj">
            <br>
            <label class="form-control-label">mileageAdj:</label>
            <input type="text" class="form-control" formControlName="mileageAdj" [(ngModel)]="mileageAdj">
            <br>
            <label class="form-control-label">violFactor:</label>
            <input type="text" class="form-control" formControlName="violFactor" [(ngModel)]="violFactor">
            <br>
            <label class="form-control-label">inspFactor:</label>
            <input type="text" class="form-control" formControlName="inspFactor" [(ngModel)]="inspFactor">
            <br>
            <label class="form-control-label">crashFactor:</label>
            <input type="text" class="form-control" formControlName="crashFactor" [(ngModel)]="crashFactor">
            <br>
            <label class="form-control-label">LCM:</label>
            <input type="text" class="form-control" formControlName="LCM" [(ngModel)]="LCM">
            <br>
            <label class="form-control-label">Emod:</label>
            <input type="text" class="form-control" formControlName="Emod" [(ngModel)]="Emod">
            <br>
            <label class="form-control-label">oneMRate:</label>
            <input type="text" class="form-control" formControlName="oneMRate" [(ngModel)]="oneMRate">
            <br>
            <label class="form-control-label">adjExpo:</label>
            <input type="text" class="form-control" formControlName="adjExpo" [(ngModel)]="adjExpo">
            <br>
            <label class="form-control-label">oneMPremium:</label>
            <input type="text" class="form-control" formControlName="oneMPremium" [(ngModel)]="oneMPremium">
          </fieldset>
        </div>
      </div>
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-3">
      <div class="card card-warning card-inverse mb-3">
        <div class="card-header card-warning">
          1x1 Factor Calculation
        </div>
        <div class="card-block bg-white">
          <fieldset class="form-group">
            <label class="form-control-label">baseFatality:</label>
            <input type="text" class="form-control" formControlName="baseFatality" [(ngModel)]="baseFatality">
            <br>
            <label class="form-control-label">cargoFactor:</label>
            <input type="text" class="form-control" formControlName="cargoFactor" [(ngModel)]="cargoFactor">
            <br>
            <label class="form-control-label">weightFactor:</label>
            <input type="text" class="form-control" formControlName="weightFactor" [(ngModel)]="weightFactor">
            <br>
            <label class="form-control-label">popDenFactor:</label>
            <input type="text" class="form-control" formControlName="popDenFactor" [(ngModel)]="popDenFactor">
            <br>
            <label class="form-control-label">fatalCrash:</label>
            <input type="text" class="form-control" formControlName="fatalCrash" [(ngModel)]="fatalCrash">
            <br>
            <label class="form-control-label">factor1x1P:</label>
            <input type="text" class="form-control" formControlName="factor1x1P" [(ngModel)]="factor1x1P">
            <br>
            <label class="form-control-label">rate1x1P:</label>
            <input type="text" class="form-control" formControlName="rate1x1P" [(ngModel)]="rate1x1P">
          </fieldset>
        </div>
      </div>
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-3">
      <div class="card card-info card-inverse">
        <div class="card-header card-info">
          1 x 1P Layer
        </div>
        <div class="card-block bg-white">
          <fieldset class="form-group">
            <label class="form-control-label">1x1P_%:</label>
            <input type="text" class="form-control" formControlName="onex1P_Percent" [(ngModel)]="onex1P_Percent">
            <br>
            <label class="form-control-label">1x1P_WithoutMP:</label>
            <input type="text" class="form-control" formControlName="onex1P_WithoutMP" [(ngModel)]="onex1P_WithoutMP">
            <br>
            <label class="form-control-label">1x1P_WithMP:</label>
            <input type="text" class="form-control" formControlName="onex1P_WithMP" [(ngModel)]="onex1P_WithMP">
            <br>
            <label class="form-control-label">1x1P_Accumulation:</label>
            <input type="text" class="form-control" formControlName="onex1P_Accumulation" [(ngModel)]="onex1P_Accumulation">
          </fieldset>
        </div>
      </div>
      <div class="card card-info card-inverse">
        <div class="card-header card-info">
          1 x 1 x 1P Layer
        </div>
        <div class="card-block bg-white">
          <fieldset class="form-group">
            <label class="form-control-label">1x1x1P_Percent:</label>
            <input type="text" class="form-control" formControlName="onex1x1P_Percent" [(ngModel)]="onex1x1P_Percent">
            <br>
            <label class="form-control-label">1x1x1P_WithoutMP:</label>
            <input type="text" class="form-control" formControlName="onex1x1P_WithoutMP" [(ngModel)]="onex1x1P_WithoutMP">
            <br>
            <label class="form-control-label">1x1x1P_WithMP:</label>
            <input type="text" class="form-control" formControlName="onex1x1P_WithMP" [(ngModel)]="onex1x1P_WithMP">
            <br>
            <label class="form-control-label">1x1x1P_Accumulation:</label>
            <input type="text" class="form-control" formControlName="onex1x1P_Accumulation" [(ngModel)]="onex1x1P_Accumulation">
          </fieldset>
        </div>
      </div>
    </div>
    <!-- /.col-sm-4 -->
  </div>
</form>
<!--QUOTE / INDICATION-->
<form [formGroup]="rForm">
  <div class="row">
    <!-- /.col-sm-4 -->
    <div class="col-sm-3">
      <div class="card card-primary card-inverse mb-3">
        <div class="card-header card-primary">
          Pro-Rata Factor
        </div>
        <div class="card-block bg-white">
          <fieldset class="form-group">
            <label class="form-control-label">Pro-Rata:</label>
            <input type="text" class="form-control" formControlName="proRata" [(ngModel)]="proRata">
          </fieldset>
        </div>
      </div>
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-3">
      <div class="card card-primary card-inverse mb-3">
        <div class="card-header card-primary">
          1xP
        </div>
        <div class="card-block bg-white">
          <fieldset class="form-group">
            <label class="form-control-label">Annual:</label>
            <input type="text" class="form-control" formControlName="onexPAnnual" [(ngModel)]="onexPAnnual">
            <br>
            <label class="form-control-label">Pro-Rated:</label>
            <input type="text" class="form-control" formControlName="onexPProRated" [(ngModel)]="onexPProRated">
          </fieldset>
        </div>
      </div>
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-3">
      <div class="card card-primary card-inverse mb-3">
        <div class="card-header card-primary">
          2xP
        </div>
        <div class="card-block bg-white">
          <fieldset class="form-group">
            <label class="form-control-label">Annual:</label>
            <input type="text" class="form-control" formControlName="twoxPAnnual" [(ngModel)]="twoxPAnnual">
            <br>
            <label class="form-control-label">Pro-Rated:</label>
            <input type="text" class="form-control" formControlName="twoxPProRated" [(ngModel)]="twoxPProRated">
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</form>
<hr>
<!--FORM HEADER-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 style="text-align: center; padding: 0.75em" class="page-header"><i class="fa fa-cloud" style="color:#FF8C00"></i> QUEST</h2>
    </div>
  </div>
</div>
<!--FORM BODY-->
<form [formGroup]="rForm">
  <div class="col-lg-12">
    <div class="col-lg-3"></div>
    <!--LEFT-->
    <div class="col-lg-6">
      <!--INITIAL ELIGIBILITY-->
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-primary card-inverse mb-3">
            <div class="card-header card-primary">
              Initial Eligibility
            </div>
            <div class="card-block bg-white">
              <fieldset class="form-group">
                <div [ngClass]="{'form-group has-danger' : !rForm.controls['dot1'].valid && rForm.controls['dot1'].touched}">
                  <label class="form-control-label" for="inputError">U.S DOT#:</label>
                  <input type="text" class="form-control form-control-danger" formControlName="dot1" [(ngModel)]="dot1">
                </div>
                <!--<input type="text" value="{{dot1}}">-->

                <br>
                <div [ngClass]="{'form-group has-danger' : !rForm.controls['effDate'].valid && rForm.controls['effDate'].touched}">
                  <label class="form-control-label" for="inputError">Effective Date:</label>
                  <input id="date1" type="text" class="form-control form-control-danger" formControlName="effDate" [(ngModel)]="effDate" (change)="newExpDate($event)">
                </div>
                <!--<p>{{effDate}}</p>-->

                <br>
                <div [ngClass]="{'form-group has-danger' : !rForm.controls['expDate'].valid && rForm.controls['expDate'].touched}">
                  <label class="form-control-label" for="inputError">Expiration Date:</label>
                  <input id="date2" type="text" class="form-control form-control-danger" formControlName="expDate" [(ngModel)]="expDate">
                </div>
                <!--<p>{{expDate}}</p>-->

                <br>
                <label>Safety Rating:</label><br>
                <label class="radio-inline">
                <input type="radio" [(ngModel)]="safetyRating" formControlName="safetyRating" name="safetyRating" (change)="isEligibleSR(false)"
                  value="Satisfactory" (change)="isEligible()">Satisfactory<br>
                </label>
                <label class="radio-inline">
                <input type="radio" [(ngModel)]="safetyRating" formControlName="safetyRating" name="safetyRating" (change)="isEligibleSR(false)"
                  value="Conditional" (change)="isEligible()">Conditional<br>
                  </label>
                <label class="radio-inline">
                <input type="radio" [(ngModel)]="safetyRating" formControlName="safetyRating" name="safetyRating" (change)="isEligibleSR(true)"
                  value="Unsatisfactory" (change)="isEligible()">Unsatisfactory<br>
                  </label>
                <label class="radio-inline">
                <input type="radio" [(ngModel)]="safetyRating" formControlName="safetyRating" name="safetyRating" (change)="isEligibleSR(true)"
                  value="NotRated" (change)="isEligible()">Not Rated
                </label>
                <div class="alert" [hidden]="safetyRating === 'Satisfactory' || safetyRating === 'Conditional' || safetyRating === null">INELIGIBLE DUE TO: ___</div><br>
                <!--<p>{{safetyRating}}</p>-->
                <!--<p>{{notEligibleSR}}</p>-->

                <br>
                <div [ngClass]="{'form-group has-danger' : !rForm.controls['yearInBus'].valid && rForm.controls['yearInBus'].touched}">
                  <label class="form-control-label" for="inputError">Years in Business:</label>
                  <input type="text" class="form-control form-control-danger" formControlName="yearInBus" [(ngModel)]="yearInBus">
                </div>
                <!--<p>{{yearInBus}}</p>-->

                <div [hidden]="yearInBus > 3 || yearInBus === null">
                  <br>
                  <label>All Drivers Have 5 Years Similar Comercial Driving Experience:</label><br>
                  <label class="radio-inline">
                  <input type="radio" [(ngModel)]="isDrivingExperience" formControlName="isDrivingExperience" (change)="isEligibleYIB(false)"
                    name="isDrivingExperience" value="yes" (change)="isEligible()">Yes<br>
                  </label>
                  <label class="radio-inline">
                  <input type="radio" [(ngModel)]="isDrivingExperience" formControlName="isDrivingExperience" (change)="isEligibleYIB(true)"
                    name="isDrivingExperience" value="no" (change)="isEligible()">No
                    </label>
                  <div class="alert" [hidden]="isDrivingExperience === 'yes' || isDrivingExperience === null">INELIGIBLE DUE TO: Drivers With Less Than 5 Years Of Similar Experience</div>
                </div>
                <!--<p>{{isDrivingExperience}}</p>-->
                <!--<p>{{notEligibleYIB}}</p>-->

                <br>
                <div [ngClass]="{'form-group has-danger' : !rForm.controls['primaryALLimit'].valid && rForm.controls['primaryALLimit'].touched}">
                  <label class="form-control-label" for="inputError">Primary AL Limit:</label>
                  <input type="text" class="form-control form-control-danger" formControlName="primaryALLimit" [(ngModel)]="primaryALLimit"
                    (input)="rangeLimitAL()" (input)="isEligible()">
                </div>
                <br [hidden]="primaryALLimit >= 1000000 && primaryALLimit <= 2000000 || primaryALLimit === null">
                <div class="alert" [hidden]="primaryALLimit >= 1000000 && primaryALLimit <= 2000000 || primaryALLimit === null">Please Enter an Amount Between $1000000 and $2000000</div>
                <!--<p>{{primaryALLimit}}</p>-->
                <!--<p>{{notEligibleAL}}</p>-->

                <br>
                <div [ngClass]="{'form-group has-danger' : !rForm.controls['primaryCGLimit'].valid && rForm.controls['primaryCGLimit'].touched}">
                  <label class="form-control-label">Primary CGL Limit:</label>
                  <input type="text" class="form-control form-control-danger" formControlName="primaryCGLimit" [(ngModel)]="primaryCGLimit"
                    (input)="rangeLimitCGL()" (input)="isEligible()">
                </div>
                <br [hidden]="primaryCGLimit >= 1000000 && primaryCGLimit <= 2000000 || primaryCGLimit === null">
                <div class="alert" [hidden]="primaryCGLimit >= 1000000 && primaryCGLimit <= 2000000 || primaryCGLimit === null">Please Enter an Amount Between $1000000 and $2000000</div>
                <!--<p>{{primaryCGLimit}}</p>-->
                <!--<p>{{notEligibleCGL}}</p>-->

                <br>
                <div [ngClass]="{'form-group has-danger' : !rForm.controls['primaryELLimit'].valid && rForm.controls['primaryELLimit'].touched}">
                  <label class="form-control-label">Primary EL Limit:</label>
                  <input type="text" class="form-control form-control-danger" formControlName="primaryELLimit" [(ngModel)]="primaryELLimit"
                    (input)="rangeLimitEL()" (input)="isEligible()">
                </div>
                <br>
                <div class="alert" [hidden]="primaryELLimit >= 1000000 && primaryELLimit <= 2000000 || primaryELLimit === null">Please Enter an Amount Between $1000000 and $2000000</div>
                <!--<p>{{primaryELLimit}}</p>-->
                <!--<p>{{notEligibleEL}}</p>-->

                <div>
                  <label>CGL Class 99793 (Truckers) Only: </label><br>
                  <input type="radio" [(ngModel)]="truckersOnly" formControlName="truckersOnly" name="truckersOnly" (change)="isEligibleTO(false)" (change)="isEligible()" value=yes>Yes<br>
                  <input type="radio" [(ngModel)]="truckersOnly" formControlName="truckersOnly" name="truckersOnly" (change)="isEligibleTO(true)" (change)="isEligible()" value=no>No<br>
                </div>
                <div class="alert" [hidden]="truckersOnly === 'yes' || truckersOnly === null">Referral To Small Fleet Team Required Due To: CGL Exposure Other Than Class Code 99793 (Truckers)</div>
                <!--<p>{{truckersOnly}}</p>-->

                <br>
                <label>Any Of The Below Services Provided Or Commodities Hauled:</label><br>
                <div class="horizList-outer form-control">
                  <div class="horizList-inner">
                    <p class="list">Passenger<br> Transit</p>
                    <p class="list">Freight<br> Fowarding</p>
                    <p class="list">Water<br> Hauling</p>
                    <p class="list">Crane<br> Services</p>
                    <p class="list">Hydraulic<br> Fracturing</p>
                    <p class="list">Equipment<br> Rental</p>
                    <p class="list">Logging</p>
                    <p class="list">Explosives</p>
                    <p class="list">Hired & Non-Owned<br> Auto Only</p>
                    <p class="list">Medical<br> Transport</p>
                    <p class="list">Brokerage<br> Authority Only</p>
                  </div>
                </div>
                <br>

                <input type="radio" [(ngModel)]="isProvidedCommodities" formControlName="isProvidedCommodities" (change)="isEligibleSPCH(true)"
                  name="isProvidedCommodities" value=yes (change)="isEligible()">Yes<br>
                <input type="radio" [(ngModel)]="isProvidedCommodities" formControlName="isProvidedCommodities" (change)="isEligibleSPCH(false)"
                  name="isProvidedCommodities" value=no (change)="isEligible()">No<br>
                <div class="alert" [hidden]="isProvidedCommodities === 'no' || isProvidedCommodities === null">INELIGIBLE DUE TO: Services Provided/ Commodities Hauled</div>
                <!--<p>{{isProvidedCommodities}}</p>-->
                <!--<p>{{notEligibleSPCH}}</p>-->

                <br>
                <label>Unscheduled Vehicles Operated Under The Applicant's Authority:</label><br>
                <input type="radio" [(ngModel)]="isUnschedVehicleAuth" ng-init="checked = true" formControlName="isUnschedVehicleAuth" (change)="isEligibleUV(true)"
                  name="isUnschedVehicleAuth" value="yes" (change)="isEligible()">Yes<br>
                <input type="radio" [(ngModel)]="isUnschedVehicleAuth" ng-init="checked = false" formControlName="isUnschedVehicleAuth" (change)="isEligibleUV(false)"
                  name="isUnschedVehicleAuth" value="no" (change)="isEligible()">No<br>
                <div class="alert" [hidden]="isUnschedVehicleAuth === 'no' || isUnschedVehicleAuth === null">Referral To Small Fleet Team Required Due To: Unscheduled Vehicles Operated Under The Applicant's Authority</div>
                <!--<p>{{isUnschedVehicleAuth}}</p>-->
                <!--<p>{{notEligibleUV}}</p>-->
              </fieldset>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card card-primary card-inverse mb-3">
            <div class="card-header card-primary">
              Fleet Entry
            </div>
            <div class="card-block bg-white">
              <fieldset class="form-group">
                <label>Private Passenger:</label>
                <input type="number" class="form-control" formControlName="privatePassenger" min="0" [(ngModel)]="privatePassenger" (change)="onDot1Change($event)">
                <br><label>Light Trucks:</label>
                <input type="number" class="form-control" formControlName="lightTrucks" min="0" [(ngModel)]="lightTrucks">
                <br><label>Medium Trucks:</label>
                <input type="number" class="form-control" formControlName="mediumTrucks" min="0" [(ngModel)]="mediumTrucks">
                <br><label>Heavy Trucks:</label>
                <input type="number" class="form-control" formControlName="heavyTrucks" min="0" [(ngModel)]="heavyTrucks">
                <br><label>Extra Heavy Trucks:</label>
                <input type="number" class="form-control" formControlName="extraHeavyTrucks" min="0" [(ngModel)]="extraHeavyTrucks">
                <br><label>Heavy Trucks/Tractors:</label>
                <input type="number" class="form-control" formControlName="heavyTrucksTractors" min="0" [(ngModel)]="heavyTrucksTractors">
                <br><label>Extra Heavy Trucks/Tractors:</label>
                <input type="number" class="form-control" formControlName="extraHeavyTrucksTractors" min="0" [(ngModel)]="extraHeavyTrucksTractors">
                <br>
                <div class="alert" [hidden]="privatePassenger + lightTrucks + mediumTrucks + heavyTrucks + extraHeavyTrucks + heavyTrucksTractors + extraHeavyTrucksTractors <= 5">Please Enter a Total # of Units No More Than 5</div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card card-primary card-inverse mb-3">
            <div class="card-header card-primary">
              Primary Liability
            </div>
            <div class="card-block bg-white">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card mb-3">
                    <div class="card-block">
                      Primary Automobile Liability
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="card mb-3">
                    <div class="card-block">
                      Primary General Liability
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="card mb-3">
                    <div class="card-block">
                      Large Losses
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-primary card-inverse mb-3">
            <div class="card-header card-primary">
              Pricing Indication
            </div>
            <div class="card-block bg-white">
              <div class="row">
                <div class="col-xl-12 col-lg-12">

                  <div class="card card-block">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="thead-neutral">
                          <tr>
                            <th style="text-align: center">Excess Limit</th>
                            <th style="text-align: center">Risk Premium</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><input class="form-control" value="$1,000,000" readonly style="text-align: center"></td>
                            <td><input class="form-control" formControlName="onexPProRated" [(ngModel)]="onexPProRated" readonly
                                style="text-align: center"></td>
                          </tr>
                          <tr>
                            <td><input class="form-control" value="$2,000,000" readonly style="text-align: center"></td>
                            <td><input class="form-control" formControlName="twoxPProRated" [(ngModel)]="twoxPProRated" readonly
                                style="text-align: center"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-secondary" (click)="onDot1Change($event)" (click)="onQuest_T01_FatalityCoef($event)"
        (click)="onQuest_T10_1x1Min($event)" [disabled]="(!rForm.valid || notEligible)">Generate Quote</button>
      <button type="submit" class="btn btn-secondary">Save</button>
      <!--<p>{{notEligible}}</p>
      <p>{{!rForm.valid}}</p>-->
    </div>
  </div>
</form>