<form [formGroup]="rForm">
  <div class="row">
    <div class="col-sm-3">
      <div class="card mb-3">
        <div class="card-header card-default">
          U.S. DOT#
        </div>
        <div class="card-block">
          <input type="text" class="form-control form-control-danger" formControlName="dot1" [(ngModel)]="dot1" placeholder="Enter U.S. DOT#"
            (change)="onDot1Change($event)" (change)="onQuest_T01_FatalityCoef($event)">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-danger card-inverse">
        <div class="card-header card-danger">
          Exposure Summary / Rating Parameters
        </div>
        <div class="card-block bg-white">
          <fieldset class="form-group">
            <label class="form-control-label">noOfPU:</label>
            <input type="text" class="form-control" formControlName="noOfPU" [(ngModel)]="noOfPU">

            <br>
            <label class="form-control-label">totalAdj:</label>
            <input type="text" class="form-control" formControlName="totalAdj" [(ngModel)]="totalAdj">

            <br>
            <label class="form-control-label">Intercept:</label>
            <input type="text" class="form-control" formControlName="intercept1" [(ngModel)]="intercept1">

            <br>
            <label class="form-control-label">logUnit:</label>
            <input type="text" class="form-control" formControlName="logUnit" [(ngModel)]="logUnit">

            <br>
            <label class="form-control-label">logUnitCoef:</label>
            <input type="text" class="form-control" formControlName="logUnitCoef" [(ngModel)]="logUnitCoef">

            <br>
            <label class="form-control-label">logMile:</label>
            <input type="text" class="form-control" formControlName="logMile" [(ngModel)]="logMile">

            <br>
            <label class="form-control-label">logMileCoef:</label>
            <input type="text" class="form-control" formControlName="logMileCoef" [(ngModel)]="logMileCoef">

            <br>
            <label class="form-control-label">logISORate:</label>
            <input type="text" class="form-control" formControlName="logISORate" [(ngModel)]="logISORate">

            <br>
            <label class="form-control-label">logISORateCoef:</label>
            <input type="text" class="form-control" formControlName="logISORateCoef" [(ngModel)]="logISORateCoef">

            <br>
            <label class="form-control-label">priorViolCoef:</label>
            <input type="text" class="form-control" formControlName="priorViolCoef" [(ngModel)]="priorViolCoef">

            <br>
            <label class="form-control-label">priorInspCoef:</label>
            <input type="text" class="form-control" formControlName="priorInspCoef" [(ngModel)]="priorInspCoef">

            <br>
            <label class="form-control-label">priorCrashCoef:</label>
            <input type="text" class="form-control" formControlName="priorCrashCoef" [(ngModel)]="priorCrashCoef">
          </fieldset>
        </div>
      </div>
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-3">
      <div class="card card-success card-inverse mb-3">
        <div class="card-header card-success">
          Primary $1M Premium Rating Formula
        </div>
        <div class="card-block bg-white">
          <fieldset class="form-group">

            <label class="form-control-label">baseLC:</label>
            <input type="text" class="form-control" formControlName="baseLC" [(ngModel)]="baseLC">

            <br>
            <label class="form-control-label">sizeAdj:</label>
            <input type="text" class="form-control" formControlName="sizeAdj" [(ngModel)]="sizeAdj">

            <br>
            <label class="form-control-label">mileageAdj:</label>
            <input type="text" class="form-control" formControlName="mileageAdj" [(ngModel)]="mileageAdj">

            <br>
            <label class="form-control-label">violFactor:</label>
            <input type="text" class="form-control" formControlName="violFactor" [(ngModel)]="violFactor">

            <br>
            <label class="form-control-label">inspFactor:</label>
            <input type="text" class="form-control" formControlName="inspFactor" [(ngModel)]="inspFactor">

            <br>
            <label class="form-control-label">crashFactor:</label>
            <input type="text" class="form-control" formControlName="crashFactor" [(ngModel)]="crashFactor">

            <br>
            <label class="form-control-label">LCM:</label>
            <input type="text" class="form-control" formControlName="LCM" [(ngModel)]="LCM">

            <br>
            <label class="form-control-label">Emod:</label>
            <input type="text" class="form-control" formControlName="Emod" [(ngModel)]="Emod">

            <br>
            <label class="form-control-label">oneMRate:</label>
            <input type="text" class="form-control" formControlName="oneMRate" [(ngModel)]="oneMRate">

            <br>
            <label class="form-control-label">adjExpo:</label>
            <input type="text" class="form-control" formControlName="adjExpo" [(ngModel)]="adjExpo">

            <br>
            <label class="form-control-label">oneMPremium:</label>
            <input type="text" class="form-control" formControlName="oneMPremium" [(ngModel)]="oneMPremium">
          </fieldset>
        </div>
      </div>
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-3">
      <div class="card card-warning card-inverse mb-3">
        <div class="card-header card-warning">
          1x1 Factor Calculation
        </div>
        <div class="card-block bg-white">
          <fieldset class="form-group">
            <label class="form-control-label">baseFatality:</label>
            <input type="text" class="form-control" formControlName="baseFatality" [(ngModel)]="baseFatality">

            <br>
            <label class="form-control-label">cargoFactor:</label>
            <input type="text" class="form-control" formControlName="cargoFactor" [(ngModel)]="cargoFactor">

            <br>
            <label class="form-control-label">weightFactor:</label>
            <input type="text" class="form-control" formControlName="weightFactor" [(ngModel)]="weightFactor">

            <br>
            <label class="form-control-label">popDenFactor:</label>
            <input type="text" class="form-control" formControlName="popDenFactor" [(ngModel)]="popDenFactor">

            <br>
            <label class="form-control-label">fatalCrash:</label>
            <input type="text" class="form-control" formControlName="fatalCrash" [(ngModel)]="fatalCrash">

            <br>
            <label class="form-control-label">factor1x1P:</label>
            <input type="text" class="form-control" formControlName="factor1x1P" [(ngModel)]="factor1x1P">

            <br>
            <label class="form-control-label">rate1x1P:</label>
            <input type="text" class="form-control" formControlName="rate1x1P" [(ngModel)]="rate1x1P">
          </fieldset>
        </div>
      </div>
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-3">
      <div class="card card-primary card-inverse mb-3">
        <div class="card-header card-primary">
          Excess Layer Premium Calculation
        </div>
        <div class="card-block bg-white">
          <fieldset class="form-group">
            <label class="form-control-label">Excess Attachment:</label>
            <input type="text" class="form-control" formControlName="primaryALLimit" [(ngModel)]="primaryALLimit">

            <!--<br>
                <label class="form-control-label">Excess Occ Limit:</label>
                <input type="text" class="form-control" formControlName="excessOccLimit" [(ngModel)]="excessOccLimit">-->

            <br>
            <label class="form-control-label">1x1P_%:</label>
            <input type="text" class="form-control" formControlName="onex1P_Percent" [(ngModel)]="onex1P_Percent">

            <br>
            <label class="form-control-label">1x1P_WithoutMP:</label>
            <input type="text" class="form-control" formControlName="onex1P_WithoutMP" [(ngModel)]="onex1P_WithoutMP">

            <br>
            <label class="form-control-label">1x1P_WithMP:</label>
            <input type="text" class="form-control" formControlName="onex1P_WithMP" [(ngModel)]="onex1P_WithMP">

            <br>
            <label class="form-control-label">1x1P_Accumulation:</label>
            <input type="text" class="form-control" formControlName="onex1P_Accumulation" [(ngModel)]="onex1P_Accumulation">

            <br>
            <label class="form-control-label">1x1x1P_Percent:</label>
            <input type="text" class="form-control" formControlName="onex1x1P_Percent" [(ngModel)]="onex1x1P_Percent">

            <br>
            <label class="form-control-label">1x1x1P_WithoutMP:</label>
            <input type="text" class="form-control" formControlName="onex1x1P_WithoutMP" [(ngModel)]="onex1x1P_WithoutMP">

            <br>
            <label class="form-control-label">1x1x1P_WithMP:</label>
            <input type="text" class="form-control" formControlName="onex1x1P_WithMP" [(ngModel)]="onex1x1P_WithMP">

            <br>
            <label class="form-control-label">1x1x1P_Accumulation:</label>
            <input type="text" class="form-control" formControlName="onex1x1P_Accumulation" [(ngModel)]="onex1x1P_Accumulation">
          </fieldset>
        </div>
      </div>
    </div>
    <!-- /.col-sm-4 -->
  </div>
</form>

<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header"><i class="fa fa-cloud" style="color:#FF8C00"></i> QUEST</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="fa fa-cloud" style="color:#FF8C00"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard/blankpage']">QUEST</a>
        </li>
      </ol>
    </div>
  </div>
</div>

<form [formGroup]="rForm">
  <div class="col-lg-12">
    <div class="col-lg-3"></div>
    <!--LEFT-->
    <div class="col-lg-6">
      <!--INITIAL ELIGIBILITY-->
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-primary card-inverse mb-3">
            <div class="card-header card-primary">
              Initial Eligibility
            </div>
            <div class="card-block bg-white">
              <fieldset class="form-group">

                <div [ngClass]="{'form-group has-danger' : !rForm.controls['dot1'].valid && rForm.controls['dot1'].touched}">
                  <label class="form-control-label" for="inputError">U.S DOT#:</label>
                  <input type="text" class="form-control form-control-danger" formControlName="dot1" [(ngModel)]="dot1" (change)="onDot1Change($event)"
                    (change)="onQuest_T01_FatalityCoef($event)">
                </div>
                <!--<input type="text" value="{{dot1}}">-->

                <br>
                <div [ngClass]="{'form-group has-danger' : !rForm.controls['effDate'].valid && rForm.controls['effDate'].touched}">
                  <label class="form-control-label" for="inputError">Effective Date:</label>
                  <input type="text" class="form-control form-control-danger" formControlName="effDate" [(ngModel)]="effDate">
                </div>
                <!--<p>{{effDate}}</p>-->

                <br>
                <div [ngClass]="{'form-group has-danger' : !rForm.controls['expDate'].valid && rForm.controls['expDate'].touched}">
                  <label class="form-control-label" for="inputError">Expiration Date:</label>
                  <input type="text" class="form-control form-control-danger" formControlName="expDate" [(ngModel)]="expDate">
                </div>
                <!--<p>{{expDate}}</p>-->

                <br>
                <label>Safety Rating:</label><br>
                <input type="radio" [(ngModel)]="safetyRating" formControlName="safetyRating" name="safetyRating" (change)="isEligibleSR(false)"
                  value="Satisfactory">Satisfactory<br>
                <input type="radio" [(ngModel)]="safetyRating" formControlName="safetyRating" name="safetyRating" (change)="isEligibleSR(false)"
                  value="Conditional">Conditional<br>
                <input type="radio" [(ngModel)]="safetyRating" formControlName="safetyRating" name="safetyRating" (change)="isEligibleSR(true)"
                  value="Unsatisfactory">Unsatisfactory<br>
                <input type="radio" [(ngModel)]="safetyRating" formControlName="safetyRating" name="safetyRating" (change)="isEligibleSR(true)"
                  value="NotRated">Not Rated
                <br>

                <div class="alert" [hidden]="safetyRating === 'Satisfactory' || safetyRating === 'Conditional' || safetyRating === null">Ineligible due to ___</div>
                <!--<p>{{safetyRating}}</p>-->
                <!--<p>{{notEligibleSR}}</p>-->

                <br>
                <div [ngClass]="{'form-group has-danger' : !rForm.controls['yearInBus'].valid && rForm.controls['yearInBus'].touched}">
                  <label class="form-control-label" for="inputError">Years in Business:</label>
                  <input type="text" class="form-control form-control-danger" formControlName="yearInBus" [(ngModel)]="yearInBus">
                </div>
                <!--<p>{{yearInBus}}</p>-->


                <div [hidden]="yearInBus > 3 || yearInBus === null">
                  <label>All Drivers Have 5 Years Similar Comercial Driving Experience:</label><br>
                  <input type="radio" [(ngModel)]="isDrivingExperience" formControlName="isDrivingExperience" (change)="isEligibleYIB(false)"
                    name="isDrivingExperience" value="yes">Yes<br>
                  <input type="radio" [(ngModel)]="isDrivingExperience" formControlName="isDrivingExperience" (change)="isEligibleYIB(true)"
                    name="isDrivingExperience" value="no">No<br>

                  <div class="alert" [hidden]="isDrivingExperience === 'yes' || isDrivingExperience === null">Ineligible due to ___</div>
                </div>
                <!--<p>{{isDrivingExperience}}</p>-->
                <!--<p>{{notEligibleYIB}}</p>-->

                <br>
                <div [ngClass]="{'form-group has-danger' : !rForm.controls['primaryALLimit'].valid && rForm.controls['primaryALLimit'].touched}">
                  <label class="form-control-label" for="inputError">Primary AL Limit:</label>
                  <input type="text" class="form-control form-control-danger" formControlName="primaryALLimit" [(ngModel)]="primaryALLimit"
                    (input)="rangeLimitAL()">
                </div>

                <div class="alert" [hidden]="primaryALLimit >= 1000000 && primaryALLimit <= 2000000 || primaryALLimit === null">Please Enter an Amount Between $1000000 and $2000000</div>
                <!--<p>{{primaryALLimit}}</p>-->
                <!--<p>{{notEligibleAL}}</p>-->

                <br>
                <div [ngClass]="{'form-group has-danger' : !rForm.controls['primaryCGLimit'].valid && rForm.controls['primaryCGLimit'].touched}">
                  <label class="form-control-label">Primary CGL Limit:</label>
                  <input type="text" class="form-control form-control-danger" formControlName="primaryCGLimit" [(ngModel)]="primaryCGLimit"
                    (input)="rangeLimitCGL()">
                </div>

                <div class="alert" [hidden]="primaryCGLimit >= 1000000 && primaryCGLimit <= 2000000 || primaryCGLimit === null">Please Enter an Amount Between $1000000 and $2000000</div>
                <!--<p>{{primaryCGLimit}}</p>-->
                <!--<p>{{notEligibleCGL}}</p>-->

                <br>
                <label class="form-control-label">CGL Class 99793 (Truckers) Only: </label><br>
                <input type="radio" [(ngModel)]="truckersOnly" formControlName="truckersOnly" name="truckersOnly" value=yes>Yes<br>
                <input type="radio" [(ngModel)]="truckersOnly" formControlName="truckersOnly" name="truckersOnly" value=no>No<br>

                <div class="alert" [hidden]="truckersOnly === 'yes' || truckersOnly === null">Ineligible due to ___</div>
                <!--<p>{{truckersOnly}}</p>-->

                <br>
                <div [ngClass]="{'form-group has-danger' : !rForm.controls['primaryELLimit'].valid && rForm.controls['primaryELLimit'].touched}">
                  <label class="form-control-label">Primary EL Limit:</label>
                  <input type="text" class="form-control form-control-danger" formControlName="primaryELLimit" [(ngModel)]="primaryELLimit"
                    (input)="rangeLimitEL()">
                </div>
                <br>
                <div class="alert" [hidden]="primaryELLimit >= 1000000 && primaryELLimit <= 2000000 || primaryELLimit === null">Please Enter an Amount Between $1000000 and $2000000</div>
                <!--<p>{{primaryELLimit}}</p>-->
                <!--<p>{{notEligibleEL}}</p>-->

                <br>
                <label>Any Of The Following Services Provided Or Commodities Hauled:</label><br>
                <input type="radio" [(ngModel)]="isProvidedCommodities" formControlName="isProvidedCommodities" (change)="isEligibleSPCH(true)"
                  name="isProvidedCommodities" value=yes>Yes<br>
                <input type="radio" [(ngModel)]="isProvidedCommodities" formControlName="isProvidedCommodities" (change)="isEligibleSPCH(false)"
                  name="isProvidedCommodities" value=no>No<br>

                <div class="alert" [hidden]="isProvidedCommodities === 'no' || isProvidedCommodities === null">Ineligible due to ___</div>
                <!--<p>{{isProvidedCommodities}}</p>-->
                <!--<p>{{notEligibleSPCH}}</p>-->

                <br>
                <label>Unscheduled Vehicles Operated Under The Applicant's Authority:</label><br>
                <input type="radio" [(ngModel)]="isUnschedVehicleAuth" ng-init="checked = true" formControlName="isUnschedVehicleAuth" (change)="isEligibleUV(true)"
                  name="isUnschedVehicleAuth" value="yes">Yes<br>
                <input type="radio" [(ngModel)]="isUnschedVehicleAuth" ng-init="checked = false" formControlName="isUnschedVehicleAuth" (change)="isEligibleUV(false)"
                  name="isUnschedVehicleAuth" value="no">No<br>

                <div class="alert" [hidden]="isUnschedVehicleAuth === 'no' || isUnschedVehicleAuth === null">Ineligible due to ___</div>
                <!--<p>{{isUnschedVehicleAuth}}</p>-->
                <!--<p>{{notEligibleUV}}</p>-->

              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-primary card-inverse mb-3">
            <div class="card-header card-primary">
              Fleet Entry
            </div>
            <div class="card-block bg-white">
              <fieldset class="form-group">

                <label>Private Passenger:</label>
                <input type="number" class="form-control" formControlName="privatePassenger" min="0" [(ngModel)]="privatePassenger" (change)="onDot1Change($event)">

                <br><label>Light Trucks:</label>
                <input type="number" class="form-control" formControlName="lightTrucks" min="0" [(ngModel)]="lightTrucks" (change)="onDot1Change($event)">


                <br><label>Medium Trucks:</label>
                <input type="number" class="form-control" formControlName="mediumTrucks" min="0" [(ngModel)]="mediumTrucks" (change)="onDot1Change($event)">


                <br><label>Heavy Trucks:</label>
                <input type="number" class="form-control" formControlName="heavyTrucks" min="0" [(ngModel)]="heavyTrucks" (change)="onDot1Change($event)">


                <br><label>Extra Heavy Trucks:</label>
                <input type="number" class="form-control" formControlName="extraHeavyTrucks" min="0" [(ngModel)]="extraHeavyTrucks" (change)="onDot1Change($event)">


                <br><label>Heavy Trucks/Tractors:</label>
                <input type="number" class="form-control" formControlName="heavyTrucksTractors" min="0" [(ngModel)]="heavyTrucksTractors"
                  (change)="onDot1Change($event)">


                <br><label>Extra Heavy Trucks/Tractors:</label>
                <input type="number" class="form-control" formControlName="extraHeavyTrucksTractors" min="0" [(ngModel)]="extraHeavyTrucksTractors"
                  (change)="onDot1Change($event)">

              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-primary card-inverse mb-3">
            <div class="card-header card-primary">
              Primary Liability
            </div>
            <div class="card-block bg-white">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card mb-3">
                    <div class="card-header card-default">
                      Primary Automobile Liability
                    </div>
                    <div class="card-block">
                      Card content
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="card mb-3">
                    <div class="card-header card-default">
                      Primary General Liability
                    </div>
                    <div class="card-block">
                      Card content
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="card mb-3">
                    <div class="card-header card-default">
                      Large Losses
                    </div>
                    <div class="card-block">
                      Card content
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-primary card-inverse mb-3">
            <div class="card-header card-primary">
              Pricing Indication
            </div>
            <div class="card-block bg-white">
              <div class="row">
                <div class="col-xl-12 col-lg-12">

                  <div class="card card-block">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="thead-default">
                          <tr>
                            <th>Total Units</th>
                            <th>Underlying</th>
                            <th>Excess Limit</th>
                            <th>Risk Premium</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><input class="form-control"></td>
                            <td><input class="form-control"></td>
                            <td><input class="form-control"></td>
                            <td><input class="form-control"></td>
                          </tr>
                          <tr>
                            <td><input class="form-control"></td>
                            <td><input class="form-control"></td>
                            <td><input class="form-control"></td>
                            <td><input class="form-control"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-secondary">Generate Quote</button>
    </div>
    <!--RIGHT-->
    <!--    <div class="col-lg-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header card-default">
              Pricing Engine
            </div>
            <div class="card-block bg-white">
              <fieldset class="form-group">
                <label class="form-control-label">Name Of Applicant:</label>
                <input type="text" class="form-control" formControlName="applicantName" [(ngModel)]="applicantName">

                <br>
                <label class="form-control-label">State:</label>
                <input type="text" class="form-control" formControlName="stateCode" [(ngModel)]="stateCode">

                <br>
                <label class="form-control-label">ZIP:</label>
                <input type="text" class="form-control" formControlName="zip" [(ngModel)]="zip">

                <br>
                <label class="form-control-label">Vehicle Type:</label>
                <input type="text" class="form-control" formControlName="vehicleType" [(ngModel)]="vehicleType">

                <br>
                <label class="form-control-label">DOT Revoked:</label>
                <input type="text" class="form-control" formControlName="hasDOTRevoked" [(ngModel)]="hasDOTRevoked">

                <br>
                <label class="form-control-label">Garbage Hauled:</label>
                <input type="text" class="form-control" formControlName="garbageHaul" [(ngModel)]="garbageHaul">
              </fieldset>

              <fieldset class="form-group">
                <label class="form-control-label">noOfPU:</label>
                <input type="text" class="form-control" formControlName="noOfPU" [(ngModel)]="noOfPU">

                <br>
                <label class="form-control-label">totalAdj:</label>
                <input type="text" class="form-control" formControlName="totalAdj" [(ngModel)]="totalAdj">

                <br>
                <label class="form-control-label">Intercept:</label>
                <input type="text" class="form-control" formControlName="intercept1" [(ngModel)]="intercept1">

                <br>
                <label class="form-control-label">logUnit:</label>
                <input type="text" class="form-control" formControlName="logUnit" [(ngModel)]="logUnit">

                <br>
                <label class="form-control-label">logUnitCoef:</label>
                <input type="text" class="form-control" formControlName="logUnitCoef" [(ngModel)]="logUnitCoef">

                <br>
                <label class="form-control-label">logMile:</label>
                <input type="text" class="form-control" formControlName="logMile" [(ngModel)]="logMile">

                <br>
                <label class="form-control-label">logMileCoef:</label>
                <input type="text" class="form-control" formControlName="logMileCoef" [(ngModel)]="logMileCoef">

                <br>
                <label class="form-control-label">logISORate:</label>
                <input type="text" class="form-control" formControlName="logISORate" [(ngModel)]="logISORate">

                <br>
                <label class="form-control-label">logISORateCoef:</label>
                <input type="text" class="form-control" formControlName="logISORateCoef" [(ngModel)]="logISORateCoef">

                <br>
                <label class="form-control-label">priorViolCoef:</label>
                <input type="text" class="form-control" formControlName="priorViolCoef" [(ngModel)]="priorViolCoef">

                <br>
                <label class="form-control-label">priorInspCoef:</label>
                <input type="text" class="form-control" formControlName="priorInspCoef" [(ngModel)]="priorInspCoef">

                <br>
                <label class="form-control-label">priorCrashCoef:</label>
                <input type="text" class="form-control" formControlName="priorCrashCoef" [(ngModel)]="priorCrashCoef">
              </fieldset>

              <fieldset class="form-group">

                <label class="form-control-label">baseLC:</label>
                <input type="text" class="form-control" formControlName="baseLC" [(ngModel)]="baseLC">

                <br>
                <label class="form-control-label">sizeAdj:</label>
                <input type="text" class="form-control" formControlName="sizeAdj" [(ngModel)]="sizeAdj">

                <br>
                <label class="form-control-label">mileageAdj:</label>
                <input type="text" class="form-control" formControlName="mileageAdj" [(ngModel)]="mileageAdj">

                <br>
                <label class="form-control-label">violFactor:</label>
                <input type="text" class="form-control" formControlName="violFactor" [(ngModel)]="violFactor">

                <br>
                <label class="form-control-label">inspFactor:</label>
                <input type="text" class="form-control" formControlName="inspFactor" [(ngModel)]="inspFactor">

                <br>
                <label class="form-control-label">crashFactor:</label>
                <input type="text" class="form-control" formControlName="crashFactor" [(ngModel)]="crashFactor">

                <br>
                <label class="form-control-label">LCM:</label>
                <input type="text" class="form-control" formControlName="LCM" [(ngModel)]="LCM">

                <br>
                <label class="form-control-label">Emod:</label>
                <input type="text" class="form-control" formControlName="Emod" [(ngModel)]="Emod">

                <br>
                <label class="form-control-label">oneMRate:</label>
                <input type="text" class="form-control" formControlName="oneMRate" [(ngModel)]="oneMRate">

                <br>
                <label class="form-control-label">adjExpo:</label>
                <input type="text" class="form-control" formControlName="adjExpo" [(ngModel)]="adjExpo">

                <br>
                <label class="form-control-label">oneMPremium:</label>
                <input type="text" class="form-control" formControlName="oneMPremium" [(ngModel)]="oneMPremium">
              </fieldset>

              <fieldset class="form-group">
                <label class="form-control-label">baseFatality:</label>
                <input type="text" class="form-control" formControlName="baseFatality" [(ngModel)]="baseFatality">

                <br>
                <label class="form-control-label">cargoFactor:</label>
                <input type="text" class="form-control" formControlName="cargoFactor" [(ngModel)]="cargoFactor">

                <br>
                <label class="form-control-label">weightFactor:</label>
                <input type="text" class="form-control" formControlName="weightFactor" [(ngModel)]="weightFactor">

                <br>
                <label class="form-control-label">popDenFactor:</label>
                <input type="text" class="form-control" formControlName="popDenFactor" [(ngModel)]="popDenFactor">

                <br>
                <label class="form-control-label">fatalCrash:</label>
                <input type="text" class="form-control" formControlName="fatalCrash" [(ngModel)]="fatalCrash">

                <br>
                <label class="form-control-label">factor1x1P:</label>
                <input type="text" class="form-control" formControlName="factor1x1P" [(ngModel)]="factor1x1P">

                <br>
                <label class="form-control-label">rate1x1P:</label>
                <input type="text" class="form-control" formControlName="rate1x1P" [(ngModel)]="rate1x1P">
              </fieldset>

              <fieldset class="form-group">
                <label class="form-control-label">Excess Attachment:</label>
                <input type="text" class="form-control" formControlName="primaryALLimit" [(ngModel)]="primaryALLimit">

                <br>
                <label class="form-control-label">1x1P_%:</label>
                <input type="text" class="form-control" formControlName="onex1P_Percent" [(ngModel)]="onex1P_Percent">

                <br>
                <label class="form-control-label">1x1P_WithoutMP:</label>
                <input type="text" class="form-control" formControlName="onex1P_WithoutMP" [(ngModel)]="onex1P_WithoutMP">

                <br>
                <label class="form-control-label">1x1P_WithMP:</label>
                <input type="text" class="form-control" formControlName="onex1P_WithMP" [(ngModel)]="onex1P_WithMP">

                <br>
                <label class="form-control-label">1x1P_Accumulation:</label>
                <input type="text" class="form-control" formControlName="onex1P_Accumulation" [(ngModel)]="onex1P_Accumulation">

                <br>
                <label class="form-control-label">1x1x1P_Percent:</label>
                <input type="text" class="form-control" formControlName="onex1x1P_Percent" [(ngModel)]="onex1x1P_Percent">

                <br>
                <label class="form-control-label">1x1x1P_WithoutMP:</label>
                <input type="text" class="form-control" formControlName="onex1x1P_WithoutMP" [(ngModel)]="onex1x1P_WithoutMP">

                <br>
                <label class="form-control-label">1x1x1P_WithMP:</label>
                <input type="text" class="form-control" formControlName="onex1x1P_WithMP" [(ngModel)]="onex1x1P_WithMP">

                <br>
                <label class="form-control-label">1x1x1P_Accumulation:</label>
                <input type="text" class="form-control" formControlName="onex1x1P_Accumulation" [(ngModel)]="onex1x1P_Accumulation">
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</form>